body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

h2 {
    color: #333;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #4CAF50;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}